.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
ul li {
	list-style: none;
	padding: 15px
}

h3 {
	font-size: 15px;
	color: #fff;
}

.mat-list-item {
	color: #607d8b;
	font-size: 15px;
	padding-top: 0;
	padding: 35px;
	height: 100%;
}
.example-card {
	color: #fff;
	background: #1565c0
}

.mat-card-subtitle {
	color: #f5f5f5;
	font-size: 15px
}

.mat-card-title {
	color: #fff;
	font-size: 25px
}

.routes {
	padding-top: 10px;
}

.mat-icon {
	padding: 10px;
}