.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
ul li {
	list-style: none;
	padding: 15px
}

h3 {
	font-size: 15px;
	color: #90a4ae;
}

.mat-list-item {
	color: #90a4ae;
	font-size: 15px;
	padding: 35px
}
.example-card {
	background: #fff;
	color: #1DE9B6
}

.mat-card-subtitle {
	background: #fff;
	color: #90a4ae;
	font-size: 15px
}

.mat-card-title {
	background: #fff;
	color: #263238;
	font-size: 25px
}