<div>
	<app-widget-area title="Venezuela COVID-19 cases by states"></app-widget-area>
</div>

<hr>

<div class="grid-container">
	<mat-card fxFlex="25">
		<app-widget-card label="Total Deaths" color="#FF0000" [total]="totalDeaths" [porcentage]="porcentageDeaths"></app-widget-card>
	</mat-card>
	<mat-card fxFlex="25">
		<app-widget-card label="Total Actives" color="#00FF00" [total]="totalActive" [porcentage]="porcentageActives"></app-widget-card>
	</mat-card>
	<mat-card fxFlex="25">
		<app-widget-card label="Total Recovered" [total]="totalRecovered" [porcentage]="porcentageRecovered"></app-widget-card>
	</mat-card>
</div>

<hr> 

<div>
	<div>
		<app-widget-pie [agesByRange]="confirmedByAge"></app-widget-pie>
	</div>
	<div></div>
</div>