:host {
	display: flex;
	flex-direction: column;
	height: 100%
}

mat-drawer {
	width: 300px;
	background: #fff
}

mat-drawer-container {
	height: 100%;
}

mat-drawer-content {
	padding: 50px;
	background-color: #e8eaf6
}